{% extends "base.html" %}
{% load static %}

{% block content %}
    <h3 class="btn btn-dark position-absolute" id="id_change">Change Style</h3>
    <div class="container text-center">
        <div class="text-center">
            <img src="{% static "image/ray.jpg" %}" class="rounded-circle" id="resize-img">
            <h1 class="font-weight-bold" id="id_name">Ray Azrin Karim</h1>
            <h5>1706044111</h5>
        </div>
        <div id="accordion">
            <h3 class="btn-primary rounded">Aktivitas</h3>
            <div class="bg-white rounded ">
                <p>
                    Aktivitas saya sekarang adalah kuliah, berkumpul dengan teman, rapat organisasi, serta rapat kepanitiaan.
                </p>
            </div>
            <h3 class="btn-primary rounded">Pengalaman Organisasi/Kepanitiaan</h3>
            <div class="bg-white rounded ">
                <ul>
                    <li>Staff BEM Fasilkom UI 2018 Departemen Akademis dan Kepemimpinan</li>
                    <li>Staff FUKI Fasilkom UI 2018 Departemen Muslim Development Center</li>
                    <li>Staff Bizzit Compfest X</li>
                    <li>Mentor OKK UI 2018</li>
                    <li>Staff Penunjang PMB 2018</li>

                </ul>
            </div>
            <h3 class="btn-primary rounded">Prestasi</h3>
            <div class="bg-white rounded ">
                <p>
                    Masuk UI
                </p>
            </div>
        </div>
    </div>
{% endblock %}

</html>