{% extends "base.html" %}
{% load static %}
{% block title %}
    Books
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <p class="display-4">Hello,
                {{ user.first_name }}
                {{ user.last_name}}</p>
            <a class="btn btn-danger" href="{% url 'lab_9:logout' %}">Logout</a>

        {% else %}
            <h1>Haven't login yet?</h1>
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Login with google account</a>
        {% endif %}
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" name="keyword" type="search" placeholder="Search topics or keywords">
            </div>
            <!--end of col-->
            <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit" onclick="search()">Search</button>
            </div>
            <!--end of col-->
        </div>
        <h1 id="favH1">Favorites :
            <i class="fas fa-sun"></i>
            <span class="counter">0</span></h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Cover</td>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Published Date</td>
                    <td>Add to Favorites</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}