{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/lab10.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">SUBSCRIBE</h1>
        <form id="id_form" class="form-group" action="{% url 'lab_10:subscribe' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        <div class="row">
            <div class="col-sm-10">
                <div id="validation_status">Validation status</div>
            </div>
            <div class="col-sm-2">
                <button id="id_submit" class="btn btn-primary float-right" onclick="subscribe()" disabled="true">Subscribe</button>
            </div>
        </div>
    </div>

{% endblock %}